    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Bai Jamjuree', sans-serif;
    }

    body {
      text-align: center;
      color: #4c545d;
      line-height: 1.6;
    }

    header {
      background-image: url('images\bg-header-desktop.png') no-repeat center/cover;
      padding: 4rem 1.5rem 6rem;
    }

    h1, h2, h3 {
      color: #2c343b;
    }

    .container {
      max-width: 1100px;
      margin: auto;
      padding: 0 1.5rem;
    }

    .hero h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .hero p {
      max-width: 600px;
      margin: auto;
      margin-bottom: 2rem;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .btn {
      padding: 0.9rem 2rem;
      border-radius: 30px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
    }

    .btn.ios { background: #26baa4; }
    .btn.mac { background: #6173ff; }

    section {
      padding: 4rem 1.5rem;
    }

    .features {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      align-items: center;
      margin-top: 3rem;
    }

    .features img {
      width: 100%;
    }

    .feature-text {
      text-align: left;
    }

    .feature-text div {
      margin-bottom: 2rem;
    }

    .devices img {
      width: 100%;
      max-width: 700px;
      margin-top: 3rem;
    }

    .tools {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 3rem;
    }

    .logos {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      align-items: center;
      margin-top: 3rem;
    }

    footer {
      background: #f5f6f8;
      padding: 3rem 1.5rem;
    }

    .footer-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      align-items: center;
    }

    .footer-social-links{
      display: flex;
      gap: 15px;
    }

    .footer-social-links{
      width: 24px;
      height: 24px;
      display: inline-flex;
      gap: 15px;
    }

    .footer-social-links {
      width: 24px;
      height: 24px;
      display: inline-flex;
      gap: 15px;
    }

    footer ul {
      list-style: none;
    }

    footer a {
      text-decoration: none;
      color: #4c545d;
    }



    /* Responsive */
    @media (max-width: 900px) {
      .features {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .feature-text {
        text-align: center;
      }

      .tools, .logos, .footer-content {
        grid-template-columns: 1fr;
      }
    }